{% extends 'todo/base.html' %}
{% block content %}
<h2>Organize Your Todos</h2>
{% for todo in todo %}
    <article class="todo">
        <time class="date">
            {{ todo.published_date }}
        </time>
        <h2><a href= "{% url 'todo_detail' pk=todo.pk %}">{{ todo.title }}{{ todo.user }}</a></h2>
        <p>{{ todo.text|linebreaksbr }}</p>
        <label>
            <input type="checkbox" checked>
            <span class="checkable">Done!</span>
        </label>
        </article>
    {% endfor %}
{% endblock %}    