{% extends 'todo/base.html' %}

{% block content %}
{% for todo in todo %}
    <article class="todo">
        <time class="date">
            {{ todo.published_date }}
        </time>
        <p><a href= "{% url 'todo_detail' pk=todo.pk %}">{{ todo.user }}</a></p>
        <p>{{ todo.text|linebreaksbr }}</p>
        {% if todo.due_date %}
        <p>Finish by: {{ todo.due_date }}</p>
        {% endif %}
        <label>
            <input type="checkbox" checked>
            <span class="checkable">Done!</span>
        </label>
    </article>
{% endfor %}
{% endblock %}    