{% extends 'todo/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-default href={% url 'todo_edit' pk=todo.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
        {% if todo.published_date %}
            <time class="date">
                {{ todo.published_date }}
            </time>
        {% endif %} 
        <h2>{{ todo.title }}</h2>
        <p>{{ todo.text|linebreaksbr }}</p>
    </article>
{% endblock %}